<%- include('partials/header'); -%>

<div class="container top-container text-center">
    <h1>Welcome</h1>
        <p>This application allows the user to generate ToDo lists and tasks</p>

        <div class="row text-start">
            <ul class="list-group">
                <li class="list-group-item" >
                    <p>Lists:</p>
                </li>
                <li class="list-group-item" >
                    <p>Stored presistently</p>
                </li>
                <li class="list-group-item" >
                    <p>Can be deleted</p>
                </li>
                <li class="list-group-item" >
                    <p>Can be created</p>
                </li>
            </ul>
        </div>

        <div class="row text-start">
            <ul class="list-group">
                <li class="list-group-item" >
                    <p>Tasks:</p>
                </li>
                <li class="list-group-item" >
                    <p>Stored presistently in a List</p>
                </li>
                <li class="list-group-item" >
                    <p>Can be deleted</p>
                </li>
                <li class="list-group-item" >
                    <p>Can be created</p>
                </li>
            </ul>
        </div>
</div>

<%- include('partials/footer'); -%>