<%- include('header'); -%>

<div>
    <h1>Welcome</h1>
    <p>This application allows the user to generate a ToDo list</p>
    <p>Items can be crossed out by checking the box next to the task</p>
</div>

<%- include('footer'); -%>