</div>
</div>
</body>
<footer class="mt-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <p class="mx-auto mt-3" id="copyright">
                        Copyright 2022 Christian Andersen
                    </p>
    </nav>
</footer>

</html>