<%- include('partials/header'); -%>

<div class="container top-container text-center">
    <div class="row mt-4">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>Welcome</h1>
            </li>
            <li class="list-group-item">
                <p class="my-auto">This application allows the user to generate ToDo lists and tasks</p>
            </li>
        </ul>
    </div>

    <div class="row text-start mt-4">
        <ul class="list-group">
            <li class="list-group-item">
                <p>Lists:</p>
            </li>
            <li class="list-group-item">
                <p>&emsp;&emsp;Stored presistently</p>
            </li>
            <li class="list-group-item">
                <p>&emsp;&emsp;Can be deleted</p>
            </li>
            <li class="list-group-item">
                <p>&emsp;&emsp;Can be created</p>
            </li>
        </ul>
    </div>

    <div class="row text-start mt-4">
        <ul class="list-group">
            <li class="list-group-item">
                <p>Tasks:</p>
            </li>
            <li class="list-group-item">
                <p>&emsp;&emsp;Stored presistently in a List</p>
            </li>
            <li class="list-group-item">
                <p>&emsp;&emsp;Can be deleted</p>
            </li>
            <li class="list-group-item">
                <p>&emsp;&emsp;Can be created</p>
            </li>
        </ul>
    </div>
</div>

<%- include('partials/footer'); -%>