body {
  background-color: #B9F8D3;
  background-image: -webkit-linear-gradient(65deg, #B9F8D3 50%, #40DFEF 50%);
  min-height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  padding: 10px;
}

.box-top {
  margin-top: 7rem !important;
}

.box {
  max-width: 50%;
  margin: 1rem auto;
  background: #FFFBE7;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #FFFBE7;
  color: #013272;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 1%;
  font-size: 2rem;
  font-weight: 200;
  color: #00204a;
}

#list-item{
  width:325px;
  word-break: break-all;
}
#todo-item{
  width:90%;
  word-break: break-all;
}
#todo-blank{
  width:85%;
}

form {
  text-align: center;
  margin-left: 20px;
}



input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #40DFEF;
}

::placeholder {
  color: grey;
  opacity: 1;
}

/* Button Section */
button {
  min-height: 60px;
  width: 60px;
  border-radius: 50%;
  border-color: transparent;
  font-size: 2rem;
  border-width: 0;
}

.add {
  color: #00204a;
}

/*Navbar Section*/
#navbar-section .navbar {
  font-size: 1.5rem;
  z-index: 0;
}

#links {
  padding: 0 2% 0 2%;
}

.navbar {
  min-width: 600px;
  padding: 1rem;
  z-index: 0;
}

.navbar-brand {
  font-size: 2.3rem;
  font-family: 'Ubuntu';
  padding-left: 2%;
  z-index: 0;
}

#search-posts {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0.08rem;
  min-width: 100px;
  max-width: 25%;
  margin: 1rem auto 0 auto;
  z-index: 1;
}

/*Footer Section*/
footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#copyright {
  font-size: 1.2rem;
  color: white;
}