body {
    margin-top: 6rem;
    text-align: center;
}

/*Navbar Section*/
#navbar-section .navbar {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 2.3rem;
    font-family: 'Ubuntu';
    padding-left: 2%;
}

#new-entry{
    position: absolute;
    left:0;
    right:0;
}

#links {
    padding: 0 2% 0 2%;
}

/* Container Section */
.container-fluid{
    text-align: center;
}


/* Footer Section */
footer {
    background-color: red;

}