body{
    margin: 0;
}

h1{
    margin: 4px auto;
}

p{
    margin: 10px auto;
}

.top-container{
    background-color: #D8E3E7;
    text-align: center;
}

.top-cloud{
    position: static;
    display: inline-block;
    margin-top: 5%;
    margin-left: 45%;
}

.bottom-cloud{
    position: static;
    display: inline-block;
    margin-right: 45%;
}

.middle-container{
}

.bottom-container{
}

