body{
    margin: 0;
}

h1{
    margin: 4px auto;
}

p{
    margin: 10px auto;
}

.top-container{
    background-color: #D8E3E7;
    text-align: center;
    position: relative;
    padding: 5%;
}

.top-cloud{
    position: absolute;
    display: inline-block;
    top: 8%;
    left: 60%;
}

.bottom-cloud{
    position: absolute;
    display: inline-block;
    margin-right: 45%;
}

.middle-container{
}

.bottom-container{
}

