body{
    margin: 0;
}

h1{
    margin: 0;
}

p{
    margin: 0;
}
.top-container{
    background-color: #D8E3E7;
    text-align: center;
    display:inline-block;
}

.middle-container{
    background-color: red;
    margin: 2px;
    height: 200px;
    width: 200px;
}

.bottom-container{
    background-color: blue;
    margin: 2px;
    height: 200px;
    width: 200px;
}

