body{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color:rgb(255, 255, 255);
}

.btn{
    margin-top: 5%;
    margin-right: 2%;
}

.container-fluid {
    padding: 10% 15% 3%;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    object-fit: cover;
    object-position: 50% 0%;
}

.navbar{
    padding-left: 1%;
    font-size: 1.5rem;
}

.navbar-brand{
    font-size: 2.3rem;
    font-family: 'Ubuntu';
}

.feature-container{
    text-align: center;
    padding: 5% 2% 5% 2%;
}

.icon{
    padding: 5%;
    color: #ff4c68;
}

.icon:hover{
    color: gainsboro;
}

.feature-p{
    color:#8f8f8f;
    font-size: 1.2rem;
}