h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

em{
    font-size: 2rem;
    padding:5%;
    text-align: center;
}

.btn{
    margin-top: 5%;
    margin-right: 2%;
}

/*Navbar Section*/
.navbar{
    padding-left: 1%;
    font-size: 1.5rem;
}

.navbar-brand{
    font-size: 2.3rem;
    font-family: 'Ubuntu';
}

/*Title Section*/
#title {
    background-color: #ff4c68;
    color:rgb(255, 255, 255);
}

.title-container {
    padding: 10% 15% 3%;
}

.title-image{
    width: 70%;
    transform: rotate(25deg);
    object-fit: cover;
    object-position: 50% 0%;
}


/*Feature Section*/
.feature-container{
    text-align: center;
    padding: 5% 2% 5% 2%;
}

.icon{
    padding: 5%;
    color: #ff4c68;
}

.icon:hover{
    color: gainsboro;
}

.feature-p{
    color:#8f8f8f;
    font-size: 1.2rem;
}

/*Testimonial Section*/
#testimonials{
    background-color: #ef8172;
    color: #ffff;
    text-align: center;
}

.testimonial-image{
    margin: 5% 0 5%;
    width: 30%;
    border-radius: 100%;
}

.testimonial-text{
    font-size: 2rem;
}

#press{
    background-color:#ef8172;
    padding: 2% 5% 2%;
    text-align: center;
}

.press-logo{
    width: 20%;
    margin-right: 4%;
    padding-bottom: 5%;
}

.carousel-item{

    padding: 5% 15% 5%;
}

/*Pricing*/
#pricing{
    padding: 5%;
    text-align: center;
}

.pricing-col{
    padding: 2%;
}

.card-title{
    background-color: gainsboro;
    padding: 5%;
}

.card-body{
    color:rgb(114, 114, 114);
    font-size: 1.5rem;
    line-height: 1.2;
}